@charset "utf-8";
/* CSS Document */
h1{text-align:center;
}

.subtitulo{
	font-size:12px;
}

body{
	background-color:#FFC;
	
}

table td{
	text-align:center;
	border:1px black solid;
}

table .sin{
	border:0;
}

table .bot{
	padding:0 5px;
	display:inline;
	border:0;
}

table .primera_fila{
	font-size:1.5em;
	
	background-color:coral;
}

.centrado{
	text-align:center;
}

